body {
	background-color: gray;
	font-size: 20px;
	font-family: arial;
}
li{
	margin: auto;
	display: inline;
	border-right: 0vw inset blue;
	color: white;
	padding-left: 5vw;
	padding-right: 14vw;
	background-color: #000009;
}


